@import "include/bootstrap.min.css.scss";
@import "include/font-awesome.css.scss";
@import "../lib/ui/view/resources/view.css.scss";
@import "../lib/ui/touch/resources/touch.css.scss";

/* Appwide Styles
============================================================================ */

body{
  background: url('../img/cream_dust.png');
  width: 100%;
  height: 100%;
  overflow: hidden;
}

/* Modular (Reusable) Styles
============================================================================ */

/* View Specific Styles
============================================================================ */

/* LoginView
---------------------------------------------------------------------------- */
.loggin-box{
  height: 300px;
  position: absolute;
  top: 50%;
  margin-top: -200px;
}
.loggin-box-inner{
  text-align: center;
}

/* SongView
---------------------------------------------------------------------------- */
.song{
  border-bottom: 1px solid #ccc;
  padding: 5px 0;
  margin: 5px 0;

	.song-title{
	  font-weight: bold;
	}
	.song-album{
	  font-style: italic;
	}

  .song-vote, .song-add{
    text-align: center;
    width: 50px;
    float: left;
    height: 100%;
  }
  
  .song-add {
    padding-top: 7px;
  }

  .song-vote-count{
    color: #ccc;
    font-size: 12px;
    text-align: center;
  }

  .song-vote-count-up{
    color: #468847;
    font-size: 12px;
  }

  .song-vote-count-down{
    color: #B94A48;
    font-size: 12px;
  }
}


/* PlayerSelectView
---------------------------------------------------------------------------- */
.player-select-actionbar {
  margin-bottom: 10px;
  
  .player-select-search {
    float: right;
    margin-bottom: 0;
  }
  
  .alert {
    margin-top: 15px;
    margin-bottom: 10px;
  }
}

.player-select-list {
  .player {
    margin-bottom: 5px;
  }
  
  .player-name {
    font-weight: bold;
    float: left;
  }
  
  .player-owner {
    float: left;
    
    &.dashed:before {
      content: "- ";
      padding-left: 3px;
    }
  }
  
  .player-join {
    float: right;
  }
  
  .player-attrs {
    float: right;

	  .player-attr {
	    min-width: 25px;
	    padding-right: 5px;
	    display: inline-block;
	    
	    i {
	      padding-right: 5px;
	    }
	  }
  }

}

/* PlayerCreateView
---------------------------------------------------------------------------- */
.player-create-wrap {
  top: 50%;
  position: absolute;
  margin-top: -200px;
}

.player-create-form {
  text-align: center;
  
  div {
    margin-bottom: 10px;
  }
  
  button[type='submit'] {
    margin-top: 10px;
  }
}

/* Top Bar View
---------------------------------------------------------------------------- */
.top-bar{
  position: absolute;
  top: 0px;
  left: 0px;
  right: 300px;
  height: 50px;

  .logo-holder{
    position: absolute;
    top: 0px;
    left: 20px;
    z-index: 9;
  }

  .sm-root{
    height: 50px;
    background: none;
    -webkit-box-shadow: none;
    -webkit-transition-property: none;
    -webkit-transition-duration: none;

    .sm-item-box{
      padding-top: 15px;
    }

    .sm-slider-box{
      position: absolute;
      bottom: 0px;
    }
  }

  .search-box-holder{
    position: absolute;
    top: 10px;
    right: 20px;
    z-index: 9;
  }
}

/* Side Bar View
---------------------------------------------------------------------------- */
.sidebar-box{
  width: 280px;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  height: 100%;
  overflow: hidden;

  .player-box{
    height: 90px;
    margin-bottom: 10px;
  }

  .now-playing-box{
    height: 90px;
  }

  .queue-box{
    overflow-y: hidden;
    position: absolute;
    top: 200px;
    bottom: 10px;
  }
}

/* Admin Player View
---------------------------------------------------------------------------- */
.playeradmin {
  .playeradmin-play, .playeradmin-pause, .playeradmin-volumeUp, .playeradmin-volumeDown {

    &:hover {
      cursor: pointer;
    }
  }

}

/* Admin User View
---------------------------------------------------------------------------- */
.useradmin {
  .useradmin-admins-admin, useradmin-users-user {
      
    &:hover {
      cursor: pointer;
    }
  }
  
}


/* Library View
---------------------------------------------------------------------------- */
.library-box{
  overflow-y: hidden;
  position: absolute;
  right: 310px;
  top: 50px;
  left: 15px;
  bottom: 10px;
}

.library-box-results{
  height: 100%;
}
